# Laravel 基本
/vendor
/node_modules
/.env
.env.*
/storage/*.key
/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker の永続データ（絶対入れない）
docker/mysql/data/
docker/mysql/logs/
docker/mysql/conf.d/*.cnf

# 生成物
/public/storage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
